@page
@model IndexModel
@{
    ViewData["Title"] = "Página do André Becker";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container mt-5">
    <p class="lead">Seja bem-vindo(a)!</p>

    <div class="card">
        <div class="card-header bg-primary text-white">
            Frases motivacionais
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Seja você mesmo a mudança que deseja ver no mundo. - Mahatma Gandhi</li>
            </ul>
        </div>
    </div>

    <div class="mt-5">
        <h2 class="mb-4">Dados das Pessoas:</h2>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>CPF</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pessoa in Model.Pessoas)
                {
                    <tr>
                        <td>@pessoa.Nome</td>
                        <td>@pessoa.Idade</td>
                        <td>@pessoa.CPF</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>